@use "./assets/guide";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: guide.$color-shape-background;
    color: guide.$color-text-heading;
    font-family: "Baloo";
    font-size: 1.6rem;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE antigo */
html {
    -ms-overflow-style: none;
}

.main {
    display: flex;
    gap: 20px;
    padding: 20px;
    min-height: calc(100vh);

    .content {
        background: guide.$color-shape-body;
        border-radius: 12px;
        padding: 80px 16px;
        width: calc(68.75% - 10px);

        &__title {
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 40px;
        }

        &__container {
            margin: 0 auto;
            max-width: 560px;
            overflow: visible;
            width: 100%;
        }

        &__form {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Open Sans', sans-serif;
            gap: 16px;

            &-title {
                align-items: center;
                display: flex;
                font-size: 1.8rem;
                font-family: 'Baloo';
                font-weight: bold;
                gap: 12px;
                width: 100%;

                svg {
                    stroke: guide.$color-input-placeholder;
                }
            }

            fieldset {
                border: none;
                display: flex;
                flex-direction: column;

                label {
                    color: guide.$color-text-body;
                    font-size: 1.4rem;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                input:not([type="file"]) {
                    outline: none;
                    background-color: guide.$color-input-base;
                    border-radius: 8px;
                    border: 1px solid guide.$color-input-stroke;
                    color: guide.$color-text-heading;
                    height: 48px;
                    padding: 0 16px;
                    font-size: 1.6rem;

                    &::placeholder {
                        color: guide.$color-input-placeholder;
                    }

                    &[type=datetime-local] {
                        color: guide.$color-input-placeholder;
                        text-transform: uppercase;
                    }
                }

                textarea {
                    outline: none;
                    background-color: guide.$color-input-base;
                    border-radius: 8px;
                    border: 1px solid guide.$color-input-stroke;
                    color: guide.$color-text-heading;
                    height: 136px;
                    padding: 16px;
                    font-size: 1.6rem;
                    resize: none;
                    margin-bottom: 48px;

                    &::placeholder {
                        color: guide.$color-input-placeholder;
                        font-family: 'Open Sans', sans-serif;
                    }
                }

                span {
                    margin-bottom: 12px;
                }

                .wrapper-colors {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 32px;

                    label {
                        margin: 0;
                    }

                    input {
                        appearance: none;
                        display: none;

                        &:checked+i::before {
                            opacity: 1;
                        }
                    }

                    i {
                        aspect-ratio: 1;
                        background-color: var(--color);
                        border: 6px solid guide.$color-shape-button;
                        border-radius: 50%;
                        box-sizing: content-box;
                        cursor: pointer;
                        display: block;
                        height: 28px;
                        position: relative;
                        transition: all 300ms ease;

                        &::before {
                            content: "";
                            aspect-ratio: 1;
                            background-color: transparent;
                            border: 2px solid guide.$color-brand-light;
                            border-radius: 50%;
                            height: 38px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: all 300ms ease;
                        }
                    }
                }

                &.slide-selection {
                    span {
                        display: block;
                        margin-bottom: 12px;
                    }

                    input {
                        appearance: none;
                        display: none;

                        &:checked+ul::before {
                            left: calc(100% - 2px);
                            transform: translateX(-100%);
                        }
                    }

                    ul {
                        display: flex;
                        gap: 12px;
                        list-style: none;
                        border: 1px solid guide.$color-input-stroke;
                        border-radius: 8px;
                        padding: 2px;
                        position: relative;

                        &::before {
                            content: "";
                            background-color: guide.$color-shape-button;
                            border-radius: 5px;
                            height: calc(100% - 4px);
                            position: absolute;
                            transition: all 300ms ease;
                            top: 2px;
                            left: 2px;
                            width: calc(50% - 4px);
                            z-index: 1;
                        }

                        li {
                            align-items: center;
                            border-radius: 5px;
                            display: flex;
                            cursor: pointer;
                            user-select: none;
                            flex: 1;
                            gap: 8px;
                            height: 42px;
                            padding: 0 16px;
                            position: relative;
                            z-index: 2;

                            span {
                                margin: 0;
                            }

                            svg {
                                transition: stroke 300ms ease;
                            }

                            &.active {
                                span {
                                    font-variation-settings: "wght" 700;
                                    margin: 0 -2.5px;
                                }

                                svg {
                                    stroke: guide.$color-brand-light;
                                }
                            }
                        }
                    }
                }

                &.error {
                    .message-error {
                        visibility: visible;
                    }
                }
            }

            .wrapper-themes {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                label {
                    background-color: guide.$color-shape-button;
                    border: 2px solid guide.$color-input-stroke;
                    border-radius: 8px;
                    cursor: pointer;
                    padding: 2px;
                    text-align: center;
                    transition: border-color 0.3s ease;
                    width: calc(100% / 4 - 6px);

                    &.active {
                        border-color: guide.$color-brand-light;
                    }

                    img {
                        border-radius: 5px;
                        width: 100%;
                    }

                    span {
                        font-size: 1.4rem;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 400;
                        display: block;
                        margin: 8px 0;
                    }

                    input {
                        appearance: none;
                        display: none;
                    }
                }
            }

            .wrapper-style {
                margin-right: 48px;

                fieldset>span {
                    color: guide.$color-text-body;
                    font-size: 1.4rem;
                    font-family: "Open Sans", sans-serif;
                }

                input {
                    display: none;
                }

                label {
                    align-items: center;
                    display: flex;
                    gap: 10px;
                    margin: 6px 0 0;

                    span {
                        margin: 0;
                    }

                    p {
                        width: 44px;
                    }
                }
            }

            .wrapper-banner {
                fieldset>span {
                    color: guide.$color-text-body;
                    font-size: 1.4rem;
                    font-family: "Open Sans", sans-serif;
                }

                input {
                    display: none;
                }

                label {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;

                    .button {
                        align-items: center;
                        background-color: guide.$color-shape-button;
                        border-radius: 8px;
                        color: guide.$color-text-heading;
                        cursor: pointer;
                        display: flex;
                        gap: 10px;
                        height: 40px;
                        margin: 0;
                        padding: 0 14px;
                        width: fit-content;

                        svg {
                            stroke: guide.$color-brand-light;
                            width: 16px;
                        }

                        span {
                            margin: 0;
                        }
                    }

                    .text {
                        color: guide.$color-input-placeholder;
                        font-size: 1.6rem;
                        margin: 0;

                        &.selected {
                            color: guide.$color-text-heading;
                        }
                    }
                }
            }

            hr {
                background-color: guide.$color-input-stroke;
                border: none;
                height: 1px;
                margin: 32px 0;
                width: 100%;
            }

            .wrapper-checks {
                align-items: center;
                flex-wrap: wrap;
                display: flex;
                gap: 8px;
                position: relative;

                &.error .message-error {
                    visibility: visible;
                }

                .message-error {
                    position: absolute;
                    top: -16px;
                    transform: translateY(-100%);
                }

                +.wrapper-checks {
                    margin-top: 8px;
                }

                &.selected {
                    position: relative;

                    &::after {
                        content: "";
                        width: 5px;
                        height: 10px;
                        border-right: 2px solid guide.$color-brand-light;
                        border-bottom: 2px solid guide.$color-brand-light;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 3px;
                        left: 7px;
                    }
                }

                label {
                    color: guide.$color-text-body;
                    font-size: 1.4rem;
                    font-family: 'Open Sans', sans-serif;
                    user-select: none;

                    a {
                        color: guide.$color-brand-light;
                    }
                }

                input {
                    appearance: none;
                    background-color: guide.$color-input-base;
                    border: 1px solid guide.$color-input-stroke;
                    border-radius: 4px;
                    cursor: pointer;

                    height: 20px;
                    width: 20px;

                    &:checked {
                        border-color: guide.$color-brand-light;
                    }
                }
            }

            button[type="submit"] {
                align-items: center;
                background-color: guide.$color-brand-dark;
                border: none;
                border-radius: 8px;
                color: guide.$color-text-heading;
                cursor: pointer;
                display: flex;
                font-size: 1.6rem;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                gap: 12px;
                height: 48px;
                padding: 0 18px;
                margin: 32px 0 0 auto;
                transition: background-color 300ms ease;

                &:hover {
                    background-color: guide.$color-brand-light;
                }
            }

            .message-error {
                align-items: center;
                color: guide.$color-danger;
                display: flex;
                font-size: 1.2rem;
                margin: 4px 0 0;
                gap: 8px;
                width: 100%;
                visibility: hidden;

                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    .logo-image {
        background: url("../public/images/Background.jpg") center center no-repeat;
        background-size: cover;
        border-radius: 12px;
        padding: 32px;
        width: calc(31.25% - 10px);
        position: sticky;
        top: 20px;
        height: calc(100vh - 42px);

        &__icon {
            margin-bottom: 16px;
            height: 48px;
            width: 45.85px;
        }

        &__title {
            font-family: "Leckerli";
            font-size: 4rem;
            color: guide.$color-accent-pink;
            margin-bottom: 6px;
        }

        &__subtitle {
            font-family: "Open Sans";
            font-size: 1.6rem;
            font-weight: 300;
            color: guide.$color-text-body;
        }
    }
}